input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #575962; 
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #575962;  
}

.parsley-errors-list {
  margin: 5px -39px 3px;
  position: absolute;
  /* padding: 0; */
  list-style-type: none;
  font-size: 0.8em !important;
  line-height: 0.8em;
  opacity: 0;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  font-weight: bold;
  color: #f4516c;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.bootstrap-select .parsley-errors-list{
  bottom: -14px;
  margin: -7px -38px 3px;
}
.input-group .parsley-errors-list{
  bottom: -15px;
  margin: -7px -38px 3px;
}

.modal .parsley-errors-list{
  padding-left: 10px;
  margin: 4px -9px 4px;
}
.modal .bootstrap-select .parsley-errors-list {
  bottom: -12px;
  margin: -8px -8px 3px;
}
.modal .input-group .parsley-errors-list {
  bottom: -16px;
  margin: -5px -8px 6px;
}
